

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #fff;
    position: sticky;
    
}
nav .title
{
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul{
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    color:#fff;
}

nav ul li a{
    margin-left: 3rem;
    
}
nav ul li a:hover
{
 cursor: pointer;
 color:red
}
.hamburger
{
    display: none;
    position: absolute;
    top:0.75rem;
    right: 0.5rem;

}

@media (max-width:600px)
{
    .hamburger
    {
        display: block;
    }
    nav {
        display: flex;
        flex-direction: column;
        padding: 10px 0 0 0;

    }
    nav ul{
        display:none;
        flex-direction: column;
        width: 100%;
        padding: 0;
         background-color:#424874;
         color: black;
         position:absolute ;
          right:0;
          top:60px;
          z-index:4;
    }
    nav ul.open
    {
        display: flex;
        
    }
    nav ul.close
    {
        display: none;
    }
    nav ul li
    {
        padding: 1rem 0;
        width: 100%;
       text-align: center;
      
    }
    nav ul li a{
        margin: 0;

    }
      
    

    }
     

